@import "helper/colors";
@import "helper/layout";

// debug
* {
  border: 1px solid blue;
  margin: 1px;
}

body {
  @include color-box;
  margin: 0;
  border: 0;
}

footer {
  @include color-alt;
  width: 100%;
  padding: 1rem;
}


#workspace {

  #document {
    @include flex-item(3);
    width: 0;
  }

  aside {
    @include flex-item(1);
    width: 0;
  }
  
}
