<!--metadata

-->
<h1>Default template</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam fermentum nunc ac bibendum varius. Praesent congue
    id libero at malesuada. Fusce dapibus tortor nisi, quis pulvinar purus sollicitudin vitae. Sed id est ex. Phasellus
    mollis, purus eu aliquam ultricies, massa ex aliquet justo, eu convallis purus odio eget dui. Phasellus quis
    dignissim ipsum, non tempor dui. Donec a velit lacinia, blandit felis sit amet, posuere sem.</p>

<h2>Second section</h2>
{{ include "test.html" }}

CONTINUARE DA QUA, CREARE IL TEMPLATE DELLA WIKI

menu/opzioni generali
tab laterali wiki (navigazione, info sul documento, ...)
vista principale (lettural / editor)
TOC del documento attuale


(permettere di caricare documenti dalla wiki con specifici tag ?) esempio: tutti i documenti con tag #lateral diventano delle tab laterali ?
o meglio, fare in modo che oltre che pescare da "default" peschi anche dalla cartella "templates" della wiki corrente (ha precedenza)




